<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="<?php echo base_url().'style/admin' ?>/css/public.css" />
	<style type="text/css">
		span{
			color:red;
		}
	</style>
	<title>修改密码</title>
</head>
<body>
	<form action="<?php echo site_url('admin/admin/change_passwd') ?>" method="POST" enctype="multipart/form-data">
	<table class="table">
		<tr class="th">
			<td colspan="10">修改密码</td>
		</tr>
		<tr>
			<td>用户名</td>
			<td>
				<?php echo $this->session->userdata('username') ?>
			</td>
		</tr>
		<tr>
			<td>原始密码</td>
			<td>
				<input type="password" name="oldpass">
			</td>
		</tr>
		<tr>
			<td>新密码</td>
			<td>
				<input type="password" name="newpass">
			</td>
		</tr>
		<tr>
			<td>确认新密码</td>
			<td>
				<input type="password" name="renewpass">
			</td>
		</tr>
		<tr>
			<td colspan="10"><input type="submit" class="input_button" value="保存修改" /></td>
		</tr>
	</table>
	</form>
</body>
</html>